.App {
  text-align: left;
}
.App h1 {
  text-align: center;
}

.App-logo {
  display: block;
  max-width: 300px;
}
.App .footer {
  margin-top: 50px;
}
.App .body {
  background-image: url(./background_abstract_wordmeaning.jpg);
  max-width: 100%;
  height: auto;
}
